<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>changePassword</title>
    <link rel="stylesheet" href="/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
</head>

<body>
    <div id="app">
        <h1>changePassword</h1>
        <form action="/user/changePassword" method="post">
            <div class="mb-3">
                <label for="oldPassword" class="form-label">oldPassword</label>
                <input type="text" class="form-control" placeholder="Enter oldPassword" name="oldPassword" required>
                <% if (errors.oldPassword) { %>
                    <p>
                        <%= errors.oldPassword %>
                    </p>
                    <% } %>
            </div>
            <div class="mb-3">
                <label for="New Password" class="form-label">New Password</label>
                <input type="text" class="form-control" placeholder="Enter NewPassword" name="newPassword" required>
                <% if (errors.newPassword) { %>
                    <p>
                        <%= errors.newPassword %>
                    </p>
                    <% } %>
            </div>
            <div class="mb-3">
                <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                <input type="confirmPassword" class="form-control" placeholder="Enter ConfirmNewPassword"
                    name="confirmPassword" required>
                <% if (errors.confirmPassword) { %>
                    <p>
                        <%= errors.confirmPassword %>
                    </p>
                    <% } %>
            </div>

            <div> <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/user/dashboard" class="btn btn-success">Back</a>
            </div>

        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
       <% if (status && msg) { %>
            Toastify({
                text: "<%= msg %>",
                duration: 3000,
                close: true,
                gravity: "top", // "top" or "bottom"
                position: "center", // "left", "center" or "right"
                backgroundColor: "<%= status >= 400 ? 'linear-gradient(to right, #ff5f6d, #ffc371)' : 'linear-gradient(to right, #00b09b, #96c93d)' %>",
            }).showToast();
       <% } %>
    </script>
</body>

</html>